/* This defines styles and classes used in the book */
body {color:#2D3A53;background-color:#EEF0F5; margin-right:5%; margin-left:5%;  -webkit-hyphens: auto;-moz-hyphens: auto; -ms-hyphens: auto; hyphens: auto;text-align: justify;text-justify: inter-word;line-height:200%;font-family:"Times New Roman","Baskerville Old Face",Arial,Helvetica,serif;font-size:1.25em;}
code { font-family: monospace; }
h1,h2 {text-align:center;margin:1.5em;line-height:200%;hyphens: auto;}
h3,h4,h5,h6 {text-align:center;margin:1em;line-height:200%;hyphens: auto;}
h1.firstHeading {margin-top:0.5em;margin-bottom:0;line-height:160%;}
table {margin:1.5em;max-width:100vw !important;}
a,a:focus-visible {color: #2563EB;text-decoration: none;}/*#1A0DAB;*/
a:visited {color: #4B6CB7;}
a:hover {color: #1E40AF;text-decoration: underline;}/*#2563EB;#6B7280*/
li {hyphens: auto;}
h1.title { }
h2.author {font-size:0.8em;}
h3.date {font-size:0.8em;}
nav#toc ol,
nav#landmarks ol {padding: 0; margin-left: 1em;overflow: hidden;}
nav#toc ol li,
nav#landmarks ol li { list-style-type: none; margin: 0; padding: 0;overflow-wrap: break-word;}
a.footnote-ref { vertical-align: super; }
em, em em em, em em em em em { font-style: italic;}
i i,i i i i,em em, em em em em { font-style: normal;}
code{ white-space: pre-wrap; }
span.smallcaps{ font-variant: small-caps; }
span.underline{ text-decoration: underline; }
p {text-indent:1em;margin:0 0;line-height:200%;}
q { quotes: "“" "”" "‘" "’"; }
div.column{ display: inline-block; vertical-align: top; width: 50%; }
div.hanging-indent{margin-left: 1.5em; text-indent: -1.5em;}
blockquote,.Publication,.Collection,.mw-references-wrap {margin-right:0; margin-left:0; margin-top:0.5em; margin-bottom:0.5em; font-size:0.75em;line-height:150%;}
blockquote p {line-height:150%;}
pre {max-width: 100%;overflow-x: auto;white-space: pre;}
.volc {max-width:95%;text-align:justify;margin:1em auto;text-indent:0;}
.table-wrapper {
  overflow-x: auto;
  max-width: 100%;
}
.mw-references-wrap {border-top: 1px solid; margin-top:1em;padding-top:1em;}
hr.clearhr {margin-bottom:2em; }
@media (prefers-color-scheme: dark) {
    body {
    background-color: #020206;
color:#ABABAB;
}
a {
  color: #64ABD5;
  text-decoration: underline;
}

a:visited {
  color:  #8597AE;
}

a:hover, a:focus {
  color: #a3d4ff;
  text-decoration: underline;
}

a:active {
  color:  #ff6b6b; 
}
h1,h2,h3,h4,h5,h6,b {
 color:  #F0F0F0;
}
a b,b a {
 color:   #64ABD5;
  text-decoration: underline;
}
a:visited  b,b a:visited{
  color:  #8597AE;
}

a:hover b, a:focus b ,b a:focus, b a:hover{
  color: #a3d4ff;
}

a:active b,b a:active {
  color:  #ff6b6b; 
}

}